*.pyc
*.egg-info
__pycache__/
.pytest_cache/

dist/
build/
public/
docs/api/
.notion-py/

# make clean will remove files above this line
# --------------------------------------------

.env
.venv
.idea/
